*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
:root{
   
--VeryLightGrayishBlue: hsl(240, 78%, 98%);
--LightGrayishBlue: hsl(234, 14%, 74%);
--GrayishBlue: hsl(233, 13%, 49%);
--DarkGrayishBlue: hsl(232, 13%, 33%) ;
--LinearGradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);

}
body{
    font-family: 15px ;
    font-family:"Montserrat" ;
    line-height: 1.8rem;  
      background-image: url("file:///C:/Users/Hp_Bell/Videos/projet(js)/bg-top.svg");
   

    /*background-size: cover; /* Ensures the image covers the entire background */
    background-position: right; /* Centers the image */
    background-repeat: no-repeat;
}
body::after{
  background-image: url("file:///C:/Users/Hp_Bell/Videos/projet(js)/bg-bottom.svg");
 /* background-position: left; /* Centers the image */
    background-repeat: no-repeat   
}

h1{
   color: var(--DarkGrayishBlue) ;
 
}
.center .btnjs{
    align-items: center;
}
.container .center{
    align-items: center;
}
.btnjs span{
    color: var(--DarkGrayishBlue) ;
}
.container .btnjs .pourlebtn{
 width: 300px;
   height:30px;
   color:red;
   background-color: var(--LinearGradient);
}

.cardes {
   /* display:flex;
    height:50%;*/
    width:220px;
    height:300px;
margin:20px;
 background-color: var(--GrayishBlue);
     justify-content: center;
   align-items: center;
    overflow: hidden;
    border-radius: 5px;
    
}

.content{
    display:flex;
    justify-content: center;
   align-items: center;
    flex-wrap: wrap;
    margin-top:100px;
 
}
button{
    background-color:var(--VeryLightGrayishBlue );
    border-style: none;

}
.content .cardes .basic{
    align-items: center;
    color:var(--LinearGradient);
  
}

